<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Main speaker</th>
            <th scope="col">Speakers</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{event.title}}</td>
            <td>{{event.date|date:"short"}}</td>
            <td>{{event.mainSpeakerID.username}}</td>
            <td>
                <tr *ngFor="let speaker of event.otherSpeakersID ">
                    <td>{{speaker.username}}</td>
                </tr>
            </td>
        </tr>
    </tbody>
</table>