<div class="d-flex">
    <!-- filter Area  -->
    <div class="mx-3 col-4">
        <input type="text" class="form-control" placeholder="Search Speakers" [(ngModel)]="searchTxt">
    </div>
</div>
<hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let speaker of speakers|filterSpeakerUsername:searchTxt let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{speaker._id}}</td>
            <td>{{speaker.username}}</td>
            <td>{{speaker.Email}}</td>
            <td>
                {{speaker.address.building}},- {{speaker.address.street}},- {{speaker.address.city}}
            </td>
            <td>
                <a [routerLink]="['edit/',speaker._id]" class="btn btn-Primary">Edit</a>
                <a (click)="deletSpeaker(speaker)" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>