<div class="container-xl px-4 ">
    
    <div class="row">
        <div class="offset-2 col-xl-8">
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <!-- email address-->
                    <div class="mb-3">
                        <label class="small mb-1">Email address</label>
                        <input [(ngModel)]="speaker.Email" class="form-control" type="email" placeholder="Enter your new Email address">
                    </div>
                    <div class="row gx-3 mb-3">
                        <!-- city-->
                        <div class="col-md-4">
                            <label class="small mb-1">city</label>
                            <input [(ngModel)]="speaker.address.city" class="form-control" type="text" placeholder="Enter your city">
                        </div>
                        <!-- street-->
                        <div class="col-md-4">
                            <label class="small mb-1">street</label>
                            <input [(ngModel)]="speaker.address.street" class="form-control" type="text" placeholder="Enter your street">
                        </div>
                        <!-- building-->
                        <div class="col-md-4">
                            <label class="small mb-1">building</label>
                            <input [(ngModel)]="speaker.address.building" class="form-control" type="text" placeholder="Enter your building">
                        </div>
                    </div>

                    <!-- error messages-->
                    <div class="text-danger w-100 mb-3">
                        {{errMsg}}
                        {{sucMsg}}
                    </div>
                    <!-- success messages-->

                    <div class="text-success w-100 mb-3">
                        {{sucMsg}}
                    </div>
                    <!-- Save changes button-->
                    <a class="btn btn-primary" type="button" (click)="update()">Save Changes</a>
                </div>
            </div>
        </div>
    </div>
</div>